body {
  /*padding: 10px;*/
  font-family: sans-serif;
  font-size: 20px;
  background-color: #29334C;
  color:#ededed;
  max-width: 1000px;
  margin: auto;
}

.pre {
  white-space: pre;
}
.anchor {
	height: 20px;
	width: 10px;
}
.anchora{
	margin-bottom: 230px;
	width: 10px;
}

ul.navbarul {
	display: table;
	max-width: 1000px;
	width: 1000px;
	 position: fixed;
/*	padding:0; 
	margin:0; 
	white-space:nowrap;
*/	/*width: 1000px;*/
	background-color: #2a334c;
	top:215px;
    font-size: 30px;
}

ul.navbarul li {
	display:table-cell;
	width: auto;
  	text-align: center;
/*	width: 100%; 
	list-style-type:none; 
	display:inline-block; 
*/    /*display:inline;*/
}
.navbar {
	width: 1000px;
}
.subtitle {
	margin-top: 230px;
	padding: 15px;
	background-color:#4e5f8c;
}
.mytitle {
	position: fixed;
	text-align: center;
	padding-top: 60px;
	font-size: 32px;
	width:100%;
}
.totalaward {
	position: fixed;
	text-align: center;
	padding-top: 100px;
	font-size: 32px;
	width:100%;
}

/* DivTable.com */
.rTable {

}
.divTable{
	display: table;
	width: 100%;
}
.divTableCaption {
	/*display: table-caption;*/
	background-color:#4e5f8c;
	padding: 15px;
	margin-bottom: 10px;

}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	width: 20%;
	padding: 3px 10px;
	text-align: center;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.smallFont {
	font-size: 14px;
}
.qrbox {
	vertical-align: middle; 
	text-align: center; 
	padding-top: 150px;
	background-color: #d0d0d0;
}
.banner {
	top: 0;
	height: 216px;
	list-style: none;
	position: fixed;
}

.banner img {
	height: 100%;
}

.i18ndropdown {
	/*top: 220px;*/
	/*position: fixed;*/
	width: 80px; 
	/*height: 50px;*/

}

.flag {
	width: 150px;
}

button {
	background-color: #29334C;
	color: #ededed;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 32px;
    }
    .navbar {
		width: 100%;
	}
	ul.navbarul {
		top:205px;
	}
	.smallFont {
		font-size: 24px;
	}
	.banner {
		width: 100%;
		height: auto;
	}
	.banner img {
		width: 100%;
	}
}