<body>
    <div class="banner"><img src={{_ "app.Banner"}}></div>
    {{> gamebody}}
</body>

<template name="game">
    <div class="divTableRow">
        <div class="divTableCell smallFont">{{_ GameText gamenumber=GameNumber}}: {{localTime GMTTime}}</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">{{_ Team1}}</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">{{_ Team2}}</div>
        <div class="divTableCell">{{_ "app.JackpotTitle"}}</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell"><img src={{_ Flag1}}></div>
        <div class="divTableCell">VS.</div>
        <div class="divTableCell"><img src={{_ Flag2}}></div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">{{contribution 0}}</div>
        <div class="divTableCell">{{contribution 1}}</div>
        <div class="divTableCell">{{contribution 2}}</div>
        <div class="divTableCell">{{jackpot}}</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell"><button class = "contractClick" data-contract={{Team1WinContract}}>{{_ Team1}} {{_ "app.Win"}}</button></div>
        <div class="divTableCell"><button class = "contractClick" data-contract={{DrawContract}}>{{_ "app.Draw"}}</button></div>
        <div class="divTableCell"><button class = "contractClick" data-contract={{Team2WinContract}}>{{_ Team2}} {{_ "app.Win"}}</button></div>
    </div>
    <div class="divTableRow">
        <!-- <div class="divTableCell">{{_ City}}</div> -->
        <div class="divTableCell">&nbsp;</div>
    </div>
</template>

<template name="gamebody">
    {{#if isMicroMessage}}
        <H2>Please open in normal browser!</H2>
    {{else}}
        <div class="i18ndropdown">{{> i18n_dropdown}}</div>
        <div class="rTable">
            <div class="rTableBody">
                {{#each games}}
                    {{> game}}
                {{/each}}
            </div>
        </div>
    {{/if}}
</template>

<template name="qrModal">
    <div class="modal fade qrbox">
        {{>qrcode text=contract size=256}}
        <!-- {{address}} -->
    </div>
</template>