<body>
    {{> gamebody}}
</body>

<template name="game">
    <div class="divTableRow">
        <div class="divTableCell">{{GameNumber}}</div>
        <div class="divTableCell">{{localTime GMTTime}}</div>
        <div class="divTableCell">{{_ Team1}}</div>
        <div class="divTableCell"><img src={{_ Flag1}}></div>
        <div class="divTableCell">VS.</div>
        <div class="divTableCell">{{_ Team2}}</div>
        <div class="divTableCell"><img src={{_ Flag2}}></div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">{{_ City}}</div>
    </div>
</template>

<template name="gamebody">
    {{#if isMicroMessage}}
        <H2>Please open in normal browser!</H2>
    {{else}}
        <p>{{> i18n_dropdown}}</p>
        <div class="rTable">
            <div class="rTableBody">
                {{#each games}}
                    {{> game}}
                {{/each}}
            </div>
        </div>
    {{/if}}
</template>