<body>
<!--     <div class="banner"><img src={{_ "app.Banner"}}></div>
 --><!--     {{> gamebody}}
    {{> teambody}} -->
</body>

<template name="game">
    {{#if isShowDraw GameNumber}}
    <!-- <div class="divTableRow"> -->
    <div class="divTableCaption smallFont">{{_ GameText gamenumber=GameNumber}}: {{localTime GMTTime}}</div>
    <!-- </div> -->
    <div class="divTableRow">
        <div class="divTableCell">{{_ Team1}}</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">{{_ Team2}}</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell"><img class="flag" src={{_ Flag1}}></div>
        <div class="divTableCell">VS.</div>
        <div class="divTableCell"><img class="flag" src={{_ Flag2}}></div>
        <div class="divTableCell">{{_ "app.JackpotTitle"}}</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">{{contribution result=0 gameNumber=GameNumber}}</div>
        <div class="divTableCell">{{contribution result=1 gameNumber=GameNumber}}</div>
        <div class="divTableCell">{{contribution result=2 gameNumber=GameNumber}}</div>
        <div class="divTableCell">{{jackpot GameNumber}}</div>
    </div>
    <div class="divTableRow">
        {{#if isShowButton GMTTime}}
            <div class="divTableCell"><button class = "contractClick" data-contract={{Team1WinContract}}>{{_ Team1}} {{_ "app.Win"}}</button></div>
            {{#if isShowDraw GameNumber}}
                <div class="divTableCell"><button class = "contractClick" data-contract={{DrawContract}}>{{_ "app.Draw"}}</button></div>
            {{else}}
                <div class="divTableCell"></div>
            {{/if}}
            <div class="divTableCell"><button class = "contractClick" data-contract={{Team2WinContract}}>{{_ Team2}} {{_ "app.Win"}}</button></div>
        {{/if}}
    </div>
    <div class="divTableRow">
        <!-- <div class="divTableCell">{{_ City}}</div> -->
        <div class="divTableCell">&nbsp;</div>
    </div>
    {{/if}}
</template>

<template name="gamebody">
    {{#if isMicroMessage}}
        {{#if isApple}}
            <H2>show apple image</H2>
        {{/if}}
            
        {{#if isAndroid}}
            <h2>show andorid image</h2>
        {{else}}
            <H2>Please open in system browser.</H2>
        {{/if}}
    {{else}}
        <div class="subtitle">{{_ "app.SingleMatchPrediction"}}</div>
        <div class="rTable">
            <div class="rTableBody">
                {{#each games}}
                    {{> game}}
                {{/each}}
            </div>
        </div>
    {{/if}}
</template>

<template name="qrModal">
    <div class="modal fade qrbox" style="color:black">
        {{>qrcode text=contract size=256}}
        <br><br>
        <input id="foo" style="width:500px" type="text" value={{contract}} readonly>
        <button class="btn" data-clipboard-action="copy" data-clipboard-target="#foo">Copy</button>
        {{clipboard}}
        <br><br>
        <div class="pre">{{_ "app.QRDesc"}}</div>
    </div>
</template>