<!-- <body>
    {{> teambody}}
</body> -->

<template name="team">
    <div class="divTableCaption smallFont"></div>
    <div class="divTableRow">
        <div class="divTableCell">&nbsp;</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">{{_ Team1}}</div>
        <div class="divTableCell">{{_ Team2}}</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell"><img class="flag2" src={{_ Flag1}}></div>
        <div class="divTableCell"><img class="flag2" src={{_ Flag2}}></div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">{{contribution TeamNumber1}}</div>
        <div class="divTableCell">{{contribution TeamNumber2}}</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell"><button class = "contractClick" data-contract={{ChampionContract1}}>{{_ "app.BetChampion"}}</button></div>
        <div class="divTableCell"><button class = "contractClick" data-contract={{ChampionContract2}}>{{_ "app.BetChampion"}}</button></div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">&nbsp;</div>
    </div>
</template>

<template name="teambody">
    {{#if isMicroMessage}}
        <H2>Please open in normal browser!</H2>
    {{else}}
        <div class="subtitle">{{_ "app.ChampionPrediction"}}</div>
        <div class="rTable">
            <div class="rTableBody">
                {{#each teams}}
                    {{> team}}
                {{/each}}
            </div>
        </div>
    {{/if}}
</template>

<!-- <template name="qrModal">
    <div class="modal fade qrbox" style="color:black">
        {{>qrcode text=tx size=256}}
        <input id="foo" style="width:500px" type="text" value={{contract}} readonly>
        <button class="btn" data-clipboard-action="copy" data-clipboard-target="#foo">Copy</button>
        {{clipboard}}
        <br><br>
        {{_ "app.QRDesc"}}
    </div>
</template> -->