<template name="elements_executeContract_constant">
        <tr>
            <td>
                <h3>here it is:</h3>
                <h3>{{{toSentence name}}}</h3>
                {{#each inputs}}
                <h3>here it is:</h3>
                    {{> Template.dynamic template=template}}
                {{/each}}
            </td>
        </tr>
        <tr>
            <td>
                <dl class="constant-{{name}} dapp-zebra">
                {{#each (TemplateVar.get "outputs")}}
                    {{#if name}}
                        <dt>Here it is0: {{{toSentence name}}}</dt>
                    {{/if}}
                    <dd class="output">
                        {{#each value}}
                            {{#if $eq ../type "address"}}
                                <h3>here it is 1</h3>
                                {{> elements_account_link address=this}}
                            {{else}}
                                <h3>here it is 2</h3>
                                {{this}}
                                <em> {{{extra}}} </em>
                            {{/if}}
                            <br>
                        {{/each}}
                    </dd> 
                {{/each}}
                </dl>
            </td>
        </tr>
    </template>